:root {
    --bleu_ocean: #6FA9CC;
    --gris: #A9A9A8;
    --marine: #122245;
    --blanc: #ffffff;
    --orange: #C26C18;
    --vert: #7BBA3E;
    --jaune: #D7AC4F;
    --mauve: #B194FD;
  }

body {
    overflow-x: hidden;
    margin: 0;
}

/* ----- Header ------ */

header {
    width: 100vw;
    height: 100vh;
    background-image: url(/img/img_arriere_plan/sable.png), url(/img/img_arriere_plan/eau_ocean.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

h1 {
    margin: 0;
    top: 0;
    font-size: 10vw;
    padding: 3% 10px;
    text-align: center;
    color: var(--marine)
}

.icone {
    width: 10%;
    padding-bottom: 4%;
}

.header-bas-page {
    position: relative;
    top: 50%;
}

.texte-defilez {
    padding-bottom: 2%;
}
/* ----- Main ------ */

main {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

section {
    border: 1px solid red
}

img { border: 1px solid rgba(218, 0, 0, 0.5); }

/* ----- Chapitre 01 ------ */

#chapitre-01 {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(/img/img_arriere_plan/espace.svg);
}

.cercle-grand {
    position: absolute;
    width: 20vw; 
}

.cercle-grand-01-morphing {
    top: 10vh;
}

.cercle-grand-02-morphing{
    top: 30vh;
    left: 60vw;
}

.cercle-petit {
    position: absolute;
    width: 5vw;
}

.cercle-petit-01-morphing {
    top: 20vh;
    left: 50vw;
}

.cercle-petit-02-morphing {
    top: 80vh;
    left: 30vw;
}

.cercle-petit-03-morphing {
    top: 70vh;
    left: 90vw;
}

.cercle-moyen {
    position: absolute;
    width: 10vw;
}

.cercle-moyen-01-morphing {
    top: 65vh;
    left: 40vw;
}


#chapitre-01 .chat-orange {
    position: absolute;
    top: 50vh;
    left: 70vw;
}

.planete {
    position: absolute;
    width: 30vw;
    top: 25vh;
    right: 35vw;
}

/* ----- Chapitre 02 ------ */

#chapitre-02 {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(/img/img_arriere_plan/parallax_degrade.svg);
}

.parallax-eau {
    position: absolute;
}

.parallax-etoile {
    position: absolute;
}

.parallax-soleil {
    position: absolute;
    width: 20vw;
    top: 3vw;
    left: 70vw;
}

/* ----- Chapitre 03 ------ */

#chapitre-03 {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(/img/img_arriere_plan/sable.png), url(/img/img_arriere_plan/eau_ocean.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

#chapitre-03 .bulles{
    position: absolute;
    width:95vw;
    left: 2vw;
}

#chapitre-03 .algue{
    position: absolute;
    width:90vw;
    top: 40vh;
    left: 30vw;
}

#chapitre-03 .coraux-bleu{
    position: absolute;
    width:20vw;
    top: 60vh;
    left: 5vw;
}

#chapitre-03 .coraux-tube-orange{
    position: absolute;
    width:60vw;
    top: 60vh;
    left: 65vw;
}

#chapitre-03 .chat-orange {
    position: absolute;
    top: 50vh;
    left: 70vw;
    transform:scaleX(-1);
}

/* ----- Chapitre 04 ------ */

#chapitre-04 {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(/img/img_arriere_plan/sable_variation.svg), url(/img/img_arriere_plan/eau_ocean.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

#chapitre-04 .bulles{
    position: absolute;
    width:95vw;
    left: 2vw;
}

#chapitre-04 .algue{
    position: absolute;
    width:90vw;
    top: 27vh;
    left: 30vw;
}

#chapitre-04 .coraux-rose-mauve{
    position: absolute;
    width:20vw;
    top: 67vh;
    left: 5vw;
}

#chapitre-04 .coraux-tube-vert{
    position: absolute;
    width:20vw;
    top: 70vh;
    left: 80vw;
}

#chapitre-05 {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(/img/img_arriere_plan/sable_variation.svg), url(/img/img_arriere_plan/eau_ocean.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

#chapitre-06 {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(/img/img_arriere_plan/sable_variation.svg), url(/img/img_arriere_plan/eau_ocean.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

#chapitre-07 {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(/img/img_arriere_plan/sable_variation.svg), url(/img/img_arriere_plan/eau_ocean.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

#chapitre-08 {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(/img/img_arriere_plan/espace_etoiles.svg);
}
/* ---- Footer -----*/

.texte-footer{
    font-size: 10px;
    text-align: center;
    color: var(--marine);
}

/* ---- Page HTML sprite sheets ---- */
.body-sprite-sheets {
    height: 300vh;
}

.sprite-sheets-poisson {
    width: 50vw;
    aspect-ratio: 1/1;
    background-image: url(/img/img_personnages/spritesheet_poisson.png);
    background-size: 7100% 100%;
    animation-name: poisson;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(71);
    animation-play-state: paused;
}

.body-sprite-sheets.is-scrolling .sprite-sheets-poisson {
    animation-play-state: running;
}

@keyframes poisson {
    from { background-position: 0 0; }
    to { background-position: -100% 0; }
  }

  .sprite-sheets-plante {
    width: 50vw;
    aspect-ratio: 1/1;
    background-image: url(/img/img_personnages/spritesheet_plante.png);
    background-size: 2300% 100%;
    animation-name: plante;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(23);
    animation-play-state: paused;
}

.body-sprite-sheets.is-scrolling .sprite-sheets-plante {
    animation-play-state: running;
}

@keyframes plante {
    from { background-position: 0 0; }
    to { background-position: -100% 0; }
  }